@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);

html,body
{
    margin: 0px;
    padding: 0px;
}

.banner{
    background-size:cover;
    padding-bottom: 35em;
    height:5em;
    background-image:url("Images/IMG_6953\ \(2\).JPG")
}

.banner2{
    background-size:cover;
    padding-bottom: 20em;
    background-image: url("Images/frank-mckenna-OD9EOzfSOh0-unsplash.jpeg")
}

.banner3{
    background-size:cover;
    background-image: url("Images/maryna-yazbeck-bT2XiJtcQ1M-unsplash.jpeg")
}

.banner4{
    background-size:cover;
    padding-bottom: 60em;
    background-image: url("Images/anastasia-taioglou-CTivHyiTbFw-unsplash.jpeg")
}

.Logo{
    display:block;
    width:10em;
    float:right;
}
.title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 7.5em;
    color:white;
    padding:1em;
    text-align: center;
    animation: fontflicker 5s linear infinite;
}

.Bigbar {
    background-color: white;
    padding: 0.75em;
    text-align:right;
}

.subtitle{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 2rem;
    color: black;
    padding-bottom: 1rem;
    text-align:center;
}

.line{
    width: 50%;
    height: 0.5rem;
    background-color: black;
    display: block;
    margin:0 auto;
}

.definition{
    padding-top: 1rem;;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.topbar_hyperlinks {
    text-decoration: none;
    position:relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 1.5rem;
    color: black;
    padding:0.75em;
}
.topbar_hyperlinks:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 2px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,.75);
    transform: scale(0,.75);
  }
  
.topbar_hyperlinks:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

.contents {
    width:100%;
    height:100%;
    background-color: white;
}
.padding {
    padding: 4em;
}

.mission {
    padding: 4em;
    background-color: white;
}

.base { 
    background-color: #000000;
}

.missioncontent {
    padding: 4em;
    background-color: #000000;
}

.container {
    position: relative;
    height:30em;
    background-color: white;
    overflow:hidden;
}

.container .slider { 
    position: absolute;
    top:0;
    left:0;
    width:700%;
    animation: animate 20s linear infinite;
}

.container .slider .slide {
    float:left;
    height:50vh;
    padding:1em;
}


@keyframes animate
{
    0%{
        left:0;
    }
    50%{
        left:-35%;
    }
    100%{
        left:0;
    }
}
@keyframes fontflicker
{
    0%{
        color:white;
    }
    80%{
        color:white;
    }
    90%{
        color:teal;
    }
    100%{
        color:white;
    }
}

.carousel {
    text-align: center;
    overflow: hidden;
    padding:1em;
    width: 150vh;
    display:block;
    margin: 0 auto;
}

.carouselslides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
}
.carouselslides::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
.carouselslides::-webkit-scrollbar-thumb {
    background: black;
}
.carouselslides::-webkit-scrollbar-track {
    background: transparent;
}

.carouselslides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    background: white;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@supports (scroll-snap-type) {
    .carousel_slider > a {
        display: none;
    }
}

.carousel-slide-images{
    height:75vh;
}

.footer{
    height:20vh;
    padding:1em;
    background-color: black;
}

.product{
    display:bottom:;;
    width:30em;
    float:left;
}