@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);

html,body
{
    margin: 0px;
    padding: 0px;
}

.banner{
    background-size:cover;
    padding-bottom: 35em;
    background-image:url("Images/samuel-scrimshaw-fkS-me35j7I-unsplash.jpg")
}

.banner2{
    background-size:cover;
    padding-bottom: 35em;
    background-image: url("Images/frank-mckenna-OD9EOzfSOh0-unsplash.jpeg")
}

.banner3{
    background-size:cover;
    padding-bottom: 60em;
    background-image: url("Images/maryna-yazbeck-bT2XiJtcQ1M-unsplash.jpeg")
}


.Logo{
    display:block;
    max-width:10em;
}

.Bigbar {
    background-color: #9D9D9Db9;
    padding: 0.75em;
    text-align:right;
}

.subtitle{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 2rem;
    color: #FEFBF3;
    padding-bottom: 1rem;
    text-align:center;
}

.line{
    width: 50%;
    height: 0.5rem;
    background-color: white;
    display: block;
    margin:0 auto;
}

.definition{
    padding-top: 1rem;;
    font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
    font-size: 1.5rem;
    color: #FEFBF3;
    text-align: center;
}

.topbar_hyperlinks {
    text-decoration: none;
    position:relative;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 1rem;
    color: #FEFBF3;
    padding:0.75em;
}
.topbar_hyperlinks:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 0.75em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
  }
  
.topbar_hyperlinks:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

.contents {
    width:100%;
    height:100%;
    background-color: #79B4B7;
}
.padding {
    padding: 4em;
}

.mission {
    padding: 4em;
    background-color: #F8F0DF;
}

.base { 
    background-color: #9D9D9Db9;
}

.missioncontent {
    padding: 4em;
    background-color: #F8F0DF;
}

.container {
    position: relative;
    width:100%;
    height:140vh;
    overflow:hidden;
    background-color: #79B4B7;
}

.container .slider { 
    position: absolute;
    top:0;
    left:0;
    width:700%;
    animation: animate 40s linear infinite;
}

.container .slider .slide {
    float:left;
}

@keyframes animate
{
    0%
    {
        left:0;
    }
    11%
    {
        left:0;
    }
    14%
    {
        left:-75%;
    }
    25%
    {
        left:-75%;
    }
    28%
    {
        left:-150%;
    }
    40%
    {
        left:-150%;
    }
    43%
    {
        left:-225%;
    }
    54%
    {
        left:-225%;
    }
    57%
    {
        left:-300%;
    }
    68%
    {
        left:-300%;
    }
    71%
    {
        left:-375%;
    }
    83%
    {
        left:-375%;
    }
    86%
    {
        left:-450%;
    }
    97%
    {
        left:-450%;
    }
}
